@dark-bg: #24292D;
@light_text: #ffffff;
@main_color: #7AB1FF;
@hover_main_color: #4381D8;
@medium-bg: #F4F4F4;

h2{
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: @dark-bg;
	margin-bottom: 40px;
}
h2::after{
	content: " ";
  display: block;
  width: 80px;
  height: 1px;
  margin-top: 10px;
  background-color: @dark-bg;
}	
.block{
	padding-top: 120px;
	padding-bottom: 145px; 
}