@dark-bg: #24292D;
@light_text: #ffffff;
@main_color: #7AB1FF;
@hover_main_color: #4381D8;
@medium-bg: #F4F4F4;

h2{
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: @dark-bg;
	margin-bottom: 40px;
}
h2::after{
	content: " ";
  display: block;
  width: 80px;
  height: 1px;
  margin-top: 10px;
  background-color: @dark-bg;
  margin: 10px  auto 0 auto;
}	
.left-align::after{
	margin: 10px  0 0 0 !important;
}
h3, h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
}
h3:after{
	content: " ";
  display: block;
  width: 80px;
  height: 1px;
  margin-top: 10px;
  background-color: @main_color;
}
h5{
	font-weight: bold;
	font-size: 16px;
}
.block{
	padding-top: 120px;
	padding-bottom: 145px; 
	min-height: 850px;
}
.dark-bg{
	background-color: @dark-bg;
}	
.medium-bg{
	background-color: @medium-bg;
}
.light-text{
	color: @light_text !important;
}
.light-text:after{
	background-color: @light_text !important;;
}
a:hover{
	text-decoration: none;
}